@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */  


/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Stardos+Stencil:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

.bgGradient {
  background: -webkit-linear-gradient(#ff00ff, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.stardos-stencil-regular {
  font-family: "Stardos Stencil", system-ui;
  font-size: clamp(1rem, 4vw, 1.4rem);
  font-weight: 700;
}

.stardos-stencil-bold {
  font-family: "Stardos Stencil", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(5rem, 7vw, 10rem);
  line-height: 1.5;
  -webkit-text-stroke: 1px #fff;
  transition: all 0.2s ease;
}

.stardos-stencil {
  font-family: "Stardos Stencil", system-ui;
  font-size: clamp(1rem, 4vw, 1.2rem);
  line-height: 1.5;
}

.stardos-stencil-bold:hover {
  -webkit-text-stroke: 2px blue;
}

.lora-MobileNav {
  font-family: 'Lora', serif;
  font-size: clamp(3rem, 5vw, 7rem);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lora-title-H1 {
  font-family: 'Lora', serif;
  font-size: clamp(2rem, 5vw, 5rem);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playfair {
  font-family: 'Playfair Display', serif;
  font-size: clamp(4rem, 7vw, 10rem);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playfairSC {
  font-family: 'Playfair Display SC', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon{
  font-size: clamp(4rem, 5vw, 8rem);
}


.dropShadow{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.pText{
  font-size: clamp(0.95rem, 1.5vw, 1.0625rem);
  line-height: 1.5;
}
h1{
  font-size: clamp(2rem, 4vw, 5rem);
  font-weight: bold;
  line-height: 1.5;
}
h2{
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  font-weight: bold;
  line-height: 1.5;
  font-family: "kalnia", sans-serif;
}
h3{
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  line-height: 1.5;
  font-family: "kalnia", sans-serif;
}
h4{
  font-size: clamp(1rem, 4vw, 1.0625rem);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
}

.grider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  box-sizing: border-box;
}
.griderSkills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
  align-self: center;
  box-sizing: border-box;
  background: #ff00ff80;
}
.grider50 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
  box-sizing: border-box;
}



/* .gallery {
  max-width: 100%;
  width: 100%;
  min-height: 175vh;
  background: rgb(45, 45, 45);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1vw;
  box-sizing: border-box;
}
.column {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 250px;
}
.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  gap: 0.5rem;
  overflow: hidden;
}

img {
  object-fit: cover;
} */
